body {
  font-size: 1.6rem;
  font-family: 'M PLUS 1', sans-serif;
  color: #eee;
}

/* SIZE */

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 3rem;
}

/* PADDING */

h1,
h2,
h3 {
  padding-bottom: 1.5rem;
}

p {
  padding-bottom: 1rem;
  line-height: 2.2rem;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #eee;
}

section {
  height: 100vh;
}

section img {
  height: 100%;
}

h3 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 3rem;
  &::before {
    content: '{';
    padding: 1rem;
    visibility: hidden;
  }
  &::after {
    content: '}';
    padding: 1rem;
    visibility: hidden;
  }
  &:hover {
    &::after {
      visibility: visible;
    }
    &::before {
      visibility: visible;
    }
  }
}

::selection {
  background: #01b7ff;
  color: #eee;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(100deg, #3199f9, #39b7ff);
  border-radius: 3rem;
}
