body {
  font-size: 1.6rem;
  font-family: 'M PLUS 1', sans-serif;
  color: #eee;
}

/* SIZE */

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.8rem;
  margin: 1rem 0;
}

/* PADDING */

h1,
h2,
h3 {
  padding-bottom: 1.5rem;
}

p {
  padding-bottom: 1rem;
  line-height: 2.2rem;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #eee;
}

input,
textarea {
  border: 0.1rem #333 solid;
  padding: 1rem 1.3rem;
  border-radius: 0.3rem;
}

textarea {
  resize: vertical;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 10rem;
  min-height: 10rem;
  max-height: 35rem;
}

section img {
  height: 100%;
}

h3 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 3rem;
  &::before {
    content: '{';
    padding: 1rem;
    visibility: hidden;
  }
  &::after {
    content: '}';
    padding: 1rem;
    visibility: hidden;
  }
  &:hover {
    &::after {
      visibility: visible;
    }
    &::before {
      visibility: visible;
    }
  }
}

::selection {
  background: #01b7ff;
  color: #eee;
}

::-webkit-scrollbar {
  width: 0.7rem;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(100deg, #3199f9, #39b7ff);
  border-radius: 3rem;
}
