@import 'reset';
@import 'base';

header {
  font-family: 'Poppins', sans-serif;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
  position: fixed;
  height: 7.5rem;
  line-height: 7.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  > nav {
    height: 100%;
    width: 85%;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > h3 {
      padding: 0;
      &::before {
        content: '[';
      }
      &::after {
        content: ']';
      }
    }
    > ul {
      list-style: none;
      display: flex;
      a {
        margin: 0 2rem;
        padding: 1rem;
        text-decoration: none;
        color: #eee;
      }
    }
  }
}

section#profile {
  > .profil-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background: url('../img/ben-sweet-2LowviVHZ-E-unsplash.jpg') no-repeat;
    background-size: cover;
    > div {
      width: 75%;
      display: flex;
      justify-content: space-between;
      h2 {
        color: #ecf0f1;
      }
    }
  }
}

section#presentation {
  background: linear-gradient(#000, hsl(204, 100%, 20%));
}

section#competences {
  // #005d81
  height: 150vh;
  padding: 10rem 6rem;
  > article {
  }
}
