@import 'reset';
@import 'base';

header {
  font-family: 'Poppins', sans-serif;
  top: 0;
  left: 0;
  background: #000;
  position: fixed;
  height: 7.5rem;
  line-height: 7.5rem;
  width: 100%;
  > nav {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
    > h3 {
      padding-bottom: 0;
    }
    > ul {
      list-style: none;
      display: flex;
      a {
        margin: 0 2rem;
        padding: 1rem;
        text-decoration: none;
        color: #eee;
      }
    }
  }
}

section.presentation {
  height: 100vh;
  > .profil-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background: url('../img/ben-sweet-2LowviVHZ-E-unsplash.jpg') no-repeat;
    border-right-width: 100%;
    > div {
      width: 75%;
      display: flex;
      justify-content: space-between;
      h2 {
        color: #ecf0f1;
      }
    }
  }
}
